@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    overflow-x: hidden;
}

.logo img {
    width: 100px;
}

/* Estilização da nav bar */

.nav-bar {
    padding-inline: 30px;
    height: 10vh;
}  

.nav-bar, .div-nav {
    font-size: 17px;

    background: #fff382;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.nav-bar ul li {
    position: relative;
}

.div-nav ul li a {
    display: block;
    /* padding: 20px 25px; */
    color: #635352;
    text-decoration: none;
    text-align: center;
}

.div-nav ul li a.bold {
    font-weight: 500;
}

.btn_header {
    background-color: transparent;
    border: none;
    color: #635352;
    cursor: pointer;
    display: none;
}


/* Estilização do dropdown */

ul li ul.dropdown li {
    display: block;
    border-bottom: 1px solid #635352;
}

ul li ul.dropdown {
    width: 100%;
    background: #fff;
    position: absolute;
    z-index: 999;
    display: none;

}

ul li ul.dropdown a:hover {
    transition: 0.5s;
    background: #EBEBEB;
}

ul li:hover ul.dropdown {
    display: block;
}


/* Estilização do Search-box*/

.search-box {
    background: #0272F5;
    height: 15px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}

input::placeholder {
    color: #fff;
  }

/* TESTE */
main {
    width: 1200px;
    margin: 70px auto;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Adicionei um espaçamento entre os elementos */
}


.card_produto {
    width: 210px;
    background-color: #fff;
    margin: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.41);
    border: 1px solid transparent;
    transition: .5s;
}

.card_produto:hover {
    border: 1px solid #0272F5;
}

.img_produto {
    width: 100%;
    height: 200px;
}

.produto_container_cima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.produto_container_cima p {
    padding: 10px;
}
.container_txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.perfil {
    border-radius: 50%;
    width: 50px;
    border: 1px solid #0272F5;
}

.fa-solid {
    color: #fee600;
}

.fa-regular {
    color: #dad9ce;
}
/* TESTE */


/* Estilização do FOOTER*/
footer {
    width: 100%;
    color: #0272F5;
    background-color: #f9f8f8;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#footer_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 2px solid #0272F5;
    padding: 3rem 3.5rem;
    /* padding-block: 20px;
    display: flex;
    color: #0272F5;
    justify-content: space-around; */
}

#footer_contacts h4 {
    margin-bottom: 0.75rem;
}

#footer_social_medias {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

#footer_social_medias a {
    height: 2rem;
    width: 2rem;
    background-color: #e7e6f2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    color: #0272F5;
}

#footer_social_medias a:hover {
    opacity: 0.8;
}

#footer_social_medias i {
    font-size: 1.25rem;
}


.footer_list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer_list a {
    color: #0272F5;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
}

@media screen and (max-width: 1000px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 450px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 1200px) {
    .btn_header {
        display: block;
    }

    .nav_list {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #fff382;
        height: 100%;
        width: 35vw;
        padding: 16px;
        /* display: none; */
    }

}

@media screen and (max-width: 1088px) {
    main {
    }
    .produtos {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
